@tailwind base;
@tailwind utilities;


:root {
    --font-color: #333;
    --background-color: #eee;
    --link-color: cornflowerblue;
}

[data-theme="dark"] {
    --font-color: #eee;
    --background-color: #333;
    --link-color: lightblue;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}


.container {
    width: 100%
}
html {
    min-height: 100vh;
    background: var(--background-color);
}
#root {
    background: var(--background-color) !important;
}

.footer {
    background-color: var(--background-color) !important;
}